<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="INFO">
    <Appenders>
        <!-- Console Appender for all logs -->
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss.SSS} [%t] [%X{testName}] %-5level - %msg%n" />
        </Console>

        <!-- Thread-specific log files inside target/logs/ -->
        <Routing name="ThreadRouter">
            <Routes pattern="$${ctx:threadName}">
                <!-- Route based on thread name -->
                <Route>
                    <RollingFile name="Thread-${ctx:threadName}"
                                 fileName="target/logs/${ctx:threadName}.log"
                                 filePattern="target/logs/${ctx:threadName}-%d{yyyy-MM-dd}.log.gz">
                        <PatternLayout>
                            <Pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%X{testName}] %-5level - %msg%n</Pattern>
                        </PatternLayout>
                        <Policies>
                            <TimeBasedTriggeringPolicy />
                        </Policies>
                    </RollingFile>
                </Route>
            </Routes>
        </Routing>
    </Appenders>

    <Loggers>
        <Root level="info">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="ThreadRouter"/>
        </Root>
    </Loggers>
</Configuration>
